.menu-container {
  display: none;
}

.menu-button {
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 300ms;
    padding: 5px 6px;
    border-radius: 5px ;
    align-items: center;
    display: flex;
    justify-items: center;
}

.menu-button:hover {
    background-color: #1A235E; /* Using your accent Purple on hover */
    color: #fff;
}

@media (max-width: 800px) {
  .menu-container {
    display: flex;
  }
}